body {
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    background-color: rgb(15, 17, 22);
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


div {
    user-select: none;
    border: solid 1px rgb(0, 191, 255);
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    position: relative;
}

img{
    display: none;
    image-rendering: -webkit-optimize-contrast;
}

#bg,
#canvas,
#weapon,
#interact {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 0;
}

#bg {
    user-select: none;
    background-color: rgb(22, 26, 27);
}

#canvas {
    user-select: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

#weapon {
    user-select: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

#interact {
    user-select: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
}

#fullscreenButton {
    user-select: none;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 80px;
    min-height: 25px;
    z-index: 4;
}
